#avatar {
	height: 20rem;
	width: 20rem;
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 10%;
	background-size: 100% auto;
	margin: 0 auto;
}

body {
	background-image: url("assets/tech/glasses_background.jpeg");
	background-size: 50rem;
	background-repeat: no-repeat;
	background-position: center center;
}
.bg_header p {
	color:aquamarine;
	font-size: medium;
}

p.italica{
	font-size: 60px;
	font font-weight: bold;
}
.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
}

.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}